Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

docs: add Reconstruction KB routes
  AGENTS.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/gems/index.md
  wiki/gems/reconstruction.md
  wiki/gems/reconstruction/face-and-stencil-contract.md
  wiki/gems/reconstruction/plm-limiters.md
  wiki/gems/reconstruction/ppm-flow.md
  wiki/gems/reconstruction/tests-and-fixtures.md
  wiki/gems/reconstruction/wenoz-contract.md
  wiki/index.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: add Induction KB contracts
  AGENTS.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/gems/index.md
  wiki/gems/induction.md
  wiki/gems/induction/gauge-rhs-contract.md
  wiki/gems/induction/hll-flux-contract.md
  wiki/gems/induction/interpolation-and-staggering-contract.md
  wiki/gems/induction/tests-and-fixtures.md
  wiki/gems/induction/verification-workflows.md
  wiki/index.md
  wiki/physics/evolution-equation-map.md
  wiki/physics/variables-and-conventions.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: expand GRHayL KB source-tree coverage
  wiki/catalog.md
  wiki/change-impact.md
  wiki/core/index.md
  wiki/core/shared-parameters-and-enums.md
  wiki/gems/atmosphere/prescription-contract.md
  wiki/gems/con2prim.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/eos.md
  wiki/gems/eos/initialization-and-dispatch.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tabulated-interpolator-catalog.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/characteristic-speeds-contract.md
  wiki/gems/flux-source/generated-nrpy-boundary.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/gems/flux-source/source-terms-contract.md
  wiki/gems/index.md
  wiki/gems/reconstruction.md
  wiki/gems/reconstruction/plm-limiters.md
  wiki/generated-boundaries.md
  wiki/index.md
  wiki/physics/evolution-equation-map.md
  wiki/physics/variables-and-conventions.md
  wiki/public-api-map.md
  wiki/source-map.md
Due: none

docs: add GRHayLib implementation KB routing
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/generated-boundaries.md
  wiki/implementations/grhaylib.md
  wiki/implementations/grhaylib/cactus-build-boundary.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/implementations/grhaylib/verification-and-drift.md
  wiki/implementations/index.md
  wiki/index.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: add Unit_Tests KB routing
  wiki/catalog.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/index.md
  wiki/test-map.md
  wiki/tests/et-legacy-comparison-contract.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/fixture-lifecycle-and-harness-contract.md
  wiki/tests/hdf5-sample-tables.md
  wiki/tests/index.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: none

docs: refine KB routing and drift notes
  AGENTS.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/contradictions.md
  wiki/core/stress-energy-smallb-contract.md
  wiki/core/tests-and-fixtures.md
  wiki/core/velocity-u0-contract.md
  wiki/gems/eos/hybrid-piecewise-polytrope.md
  wiki/gems/eos/tabulated-table-contract.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/generated-boundaries.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/index.md
  wiki/lint/CHECKS.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/et-legacy-comparison-contract.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/workflows.md
Due: none

Addressed issues 2 & 3 of latest review round
  GRHayL/GRHayL_Core/initialize_eos.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: grhayl_core

Neural-network Con2Prim Initial Guess (#103)
  .github/actions/OS_setup/action.yml
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/Hybrid/Noble/general_newton_raphson.c
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/Con2Prim/Tabulated/make.code.defn
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_free.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_x.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_load_from_eos_hdf5.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_validate_model.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/ghl_c2p_nn.h
  GRHayL/Con2Prim/Tabulated/neural_network_guess/make.code.defn
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_c2p_nn_guess.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_hybrid_failure.c
  configure
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
  implementations/GRHayLib/src/make.code.defn
Due: grhayl_core, con2prim, EOS

docs: add NN Con2Prim guess KB coverage
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/gems/con2prim.md
  wiki/gems/con2prim/limits-and-conversions.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/con2prim/recovery-flow.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/hdf5-sample-tables.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: none

.github/workflos: updated to not trigger on changes to docs/ and wiki/
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
Due: none

GRHayL: adjusted Noble2D tolerance
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/initialize_diagnostics.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/include/ghl_con2prim.h
Due: grhayl_core, con2prim

Unit_Tests/unit_test_con2prim_multi_method_hybrid.c: restored 1e-10 con2prim tolerance so test stops failing
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
Due: none

EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h: updated number of iterations from 200 to 10
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
Due: EOS

docs: document NRPyLeakage provenance and physics contracts
  AGENTS.md
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.h
  wiki/catalog.md
  wiki/change-impact.md
  wiki/contradictions.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/generator-provenance.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/generated-boundaries.md
  wiki/index.md
  wiki/physics/variables-and-conventions.md
  wiki/source-map.md
Due: EOS

docs: add CompOSE EOS adapter guidance
  AGENTS.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/gems/eos.md
  wiki/gems/eos/tabulated-interpolation-and-bounds.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/index.md
  wiki/source-map.md
Due: none

feat: add regularized CompOSE EOS converter
  tools/compose/README.md
  tools/compose/compose_to_grhayl.py
  tools/compose/requirements.txt
Due: none

test: qualify regularized CompOSE EOS conversion
  .github/workflows/github-actions-Ubuntu-gcc.yml
  Unit_Tests/compose/test_compose_failure_coverage.py
  Unit_Tests/compose/test_compose_to_grhayl.py
  Unit_Tests/unit_test_tabulated_eos_compose.c
  codecov.yml
Due: none

docs: document regularized CompOSE EOS workflow
  README.md
  docs/raw/EOS.dox
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/test-map.md
Due: none

chore: adapt dialectic skills for GRHayL
  .agents/skills/dialectic/SKILL.md
  .agents/skills/trialectic/SKILL.md
Due: none

chore: sync agent skills from main
  .agents/skills/dialectic/SKILL.md
  .agents/skills/trialectic/SKILL.md
Due: none

fix: harden CompOSE conversion qualification
  Unit_Tests/compose/test_compose_failure_coverage.py
  Unit_Tests/compose/test_compose_to_grhayl.py
  Unit_Tests/unit_test_tabulated_eos_compose.c
  tools/compose/README.md
  tools/compose/compose_to_grhayl.py
  wiki/build-and-ci.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/runner-and-generated-artifacts.md
Due: none

.editorconfig: set Python tabination to 4 spaces
  .editorconfig
Due: none

Fix CompOSE pressure inverse spacing
  Unit_Tests/compose/test_compose_failure_coverage.py
  Unit_Tests/compose/test_compose_to_grhayl.py
  Unit_Tests/unit_test_tabulated_eos_compose.c
  tools/compose/README.md
  tools/compose/compose_to_grhayl.py
Due: none

Format CompOSE integration test
  Unit_Tests/unit_test_tabulated_eos_compose.c
Due: none

Add CLAUDE.md symlink to AGENTS.md
  CLAUDE.md
Due: none

.agents/skills/*: make triggers more explicit for dialectic & trialectic skills
  .agents/skills/dialectic/SKILL.md
  .agents/skills/trialectic/SKILL.md
Due: none

Update AGENTS.md, dialectic, and trialectic skills, according to https://developers.openai.com/api/docs/guides/latest-model
  .agents/grhayl-evidence.md
  .agents/review-protocol.md
  .agents/skills/_shared/review-workflow.md
  .agents/skills/dialectic/SKILL.md
  .agents/skills/trialectic/SKILL.md
  AGENTS.md
Due: none

GRHayL KB: forbid source-tracking metadata
  .agents/grhayl-evidence.md
  AGENTS.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/contradictions.md
  wiki/core/shared-parameters-and-enums.md
  wiki/core/tests-and-fixtures.md
  wiki/gems/flux-source/characteristic-speeds-contract.md
  wiki/gems/flux-source/generated-nrpy-boundary.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/gems/induction/gauge-rhs-contract.md
  wiki/gems/induction/hll-flux-contract.md
  wiki/gems/induction/interpolation-and-staggering-contract.md
  wiki/gems/induction/tests-and-fixtures.md
  wiki/gems/induction/verification-workflows.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/gems/neutrinos/generator-provenance.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/gems/reconstruction.md
  wiki/gems/reconstruction/plm-limiters.md
  wiki/gems/reconstruction/ppm-flow.md
  wiki/gems/reconstruction/wenoz-contract.md
  wiki/implementations/grhaylib/cactus-build-boundary.md
  wiki/implementations/grhaylib/verification-and-drift.md
  wiki/index.md
  wiki/lint/CHECKS.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/index.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/workflows.md
Due: none

fix: correct NRPyLeakage reaction rates and golden validation
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_Fermi_Dirac_integrals.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/Neutrinos/NRPyLeakage/make.code.defn
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyleakage.h
  Unit_Tests/nrpyleakage_main.h
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_optically_thin_gas.c
  Unit_Tests/unit_test_nrpyleakage_physics.c
  Unit_Tests/unit_test_tabulated_eos_compose.c
  tools/compose/README.md
  wiki/catalog.md
  wiki/contradictions.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/gems/neutrinos/generator-provenance.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/generated-boundaries.md
  wiki/source-map.md
  wiki/test-map.md
Due: grhayl_core, neutrinos

fix(neutrinos): close leakage physics correction gaps
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  THIRD_PARTY_NOTICES
  Unit_Tests/unit_test_nrpyleakage_physics.c
  Unit_Tests/unit_test_tabulated_eos_compose.c
  configure
  tools/compose/README.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/contradictions.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: neutrinos

fix(neutrinos): finish leakage fallbacks and regression coverage
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_rate_helpers.h
  GRHayL/Neutrinos/NRPyLeakage/make.code.defn
  GRHayL/include/ghl_nrpyleakage.h
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_physics.c
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/generator-provenance.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/source-map.md
  wiki/test-map.md
Due: neutrinos

fix(neutrinos): close leakage review findings
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_rate_helpers.h
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyleakage.h
  THIRD_PARTY_NOTICES
  Unit_Tests/unit_test_nrpyleakage_classifier_fallback.c
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_physics.c
  Unit_Tests/unit_test_tabulated_eos_compose.c
  configure
  tools/compose/README.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/gems/eos/stellarcollapse-table-adapter.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/compose-eos-adapter-how-to.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: grhayl_core, neutrinos

fix(neutrinos): complete leakage audit follow-ups
  .github/workflows/github-actions-Ubuntu-gcc.yml
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/include/ghl_nrpyleakage.h
  Unit_Tests/unit_test_nrpyleakage_classifier_fallback.c
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_optically_thin_gas.c
  Unit_Tests/unit_test_nrpyleakage_physics.c
  configure
  docs/raw/license.md
  fix_plan_Sep17AM.md
  implementations/GRHayLib/README
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/test-map.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: neutrinos

Path conditions:
  grhayl_core: any of: GRHayL/GRHayL_Core/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  atmosphere: any of: GRHayL/Atmosphere/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  con2prim: any of: GRHayL/Con2Prim/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  EOS: any of: GRHayL/EOS/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  flux_source: any of: GRHayL/Flux_Source/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  induction: any of: GRHayL/Induction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  neutrinos: any of: GRHayL/Neutrinos/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  reconstruction: any of: GRHayL/Reconstruction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
