Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

Removed not-yet-implemented prototype for NRPyEOS_tabulated_recompute_derivatives
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: none

Fixed several missing return codes
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_get_index.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse_to_ghl.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/unit_test_tabulated_eos.c
Due: grhayl_core, con2prim, EOS

Unit_Tests/unit_test_code_error.c: fixed tests that were failing for the wrong reasons
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  Unit_Tests/unit_test_code_error.c
Due: EOS

.github/workflows: removed macos-14; added macos-26 explicitly
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

This commit removes almost all ghl_error/ghl_abort calls from GRHayL-proper
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/make.code.defn
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_Fermi_Dirac_integrals.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyleakage.h
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_primitives.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/data_gen/unit_test_data_hybrid_flux.c
  Unit_Tests/data_gen/unit_test_data_tabulated_flux.c
  Unit_Tests/nrpyleakage_main.h
  Unit_Tests/unit_test_ET_Legacy_conservs.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_hybrid_flux.c
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_optically_thin_gas.c
  Unit_Tests/unit_test_tabulated_eos.c
  Unit_Tests/unit_test_tabulated_flux.c
Due: grhayl_core, neutrinos

Fixed function comments that were incorrect or misleading.
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_adjust_sound_speed.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: EOS

Round 3, Issue 1: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: EOS

Round 3, Issue 3: addressed
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Round 3, Issue 4: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
Due: EOS

Round 3, Issue 5: addressed
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Round 3, Issue 6: addressed
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Round 3, Issue 7: addressed
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_flux_source.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_primitives.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_reconstruction.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/data_gen/unit_test_data_hybrid_flux.c
  Unit_Tests/data_gen/unit_test_data_tabulated_flux.c
  Unit_Tests/unit_test_ET_Legacy_conservs.c
  Unit_Tests/unit_test_ET_Legacy_flux_source.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  Unit_Tests/unit_test_ET_Legacy_reconstruction.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_compute_conservs_and_Tmunu.c
  Unit_Tests/unit_test_con2prim_debug.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_hybrid_failure.c
  Unit_Tests/unit_test_hybrid_flux.c
  Unit_Tests/unit_test_piecewise_polytrope.c
Due: none

Round 3, Issue 8: included h = 0 in the warning, ignored the rest of the suggestion
  GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c
Due: EOS

Round 3, Issue 9: addressed
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Round 3, Issue 10: addressed
  GRHayL/GRHayL_Core/abort_if_error.c
Due: grhayl_core

Round 3, Issue 11: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/include/ghl.h
Due: EOS

Round 3, Issue 12: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_adjust_sound_speed.c
Due: EOS

Round 3, Issue 11, 12, 13: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_adjust_sound_speed.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: grhayl_core, EOS

Round 3, Issue 15: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: EOS

Round 3, Issue 16: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Unit_Tests/unit_test_code_error.c: updated to check for correct error code
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  Unit_Tests/failure.sh
  Unit_Tests/unit_test_code_error.c
Due: none

GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c: added additional code-coverage tests
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: EOS

Added new line character to abort messages; fixed Unit_Tests/unit_test_tabulated_eos.c
  GRHayL/GRHayL_Core/abort_if_error.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: grhayl_core

Restored failure mode to ensure ghl_abort_if_error() is tested
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  Unit_Tests/unit_test_code_error.c
Due: none

.github/workflows/github-actions-MacOS-gcc.yml: fixed bug I introduced
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

Unit_Tests/unit_test_tabulated_eos.c: updated initialization to try to fix undefined behavior
  Unit_Tests/unit_test_tabulated_eos.c
Due: none

GRHayL/GRHayL_Core/abort_if_error.c: abort() -> exit(), trying to fix code coverage
  GRHayL/GRHayL_Core/abort_if_error.c
Due: grhayl_core

Unit_Tests/unit_test_nrpyleakage_luminosities.c: trying to improve code coverage
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
Due: none

Round 4, Issue 2: addressed
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Round 4, Issues 3 & 6: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_adjust_sound_speed.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_get_index.c
  GRHayL/GRHayL_Core/initialize_eos.c
Due: grhayl_core, EOS

Fix no-HDF5 build configuration
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/GRHayL_Core/initialize_eos.c
  configure
Due: grhayl_core, con2prim

Fix no-HDF5 build and tabulated runtime guards
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  README.md
  configure
Due: grhayl_core, con2prim, EOS, neutrinos

Standardize no-HDF5 runtime guards on HDF5_ERROR_IF_USED
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
Due: grhayl_core, con2prim, neutrinos

Round 5, Issue 1: addressed
  Unit_Tests/unit_test_code_error.c
Due: none

Round 5, Issue 3: addressed (reverted to previous logic)
  GRHayL/GRHayL_Core/initialize_eos.c
Due: grhayl_core

Round 5, Issue 5: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: EOS

Round 5, Issue 6: addressed
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_tabulated_flux.c
Due: none

Round 5, Issue 4: addressed
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/include/ghl.h
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: grhayl_core

Round 6, Issue 5: fixed missing 'static' keyword for interval functions
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: EOS

Path conditions:
  grhayl_core: any of: GRHayL/GRHayL_Core/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  atmosphere: any of: GRHayL/Atmosphere/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  con2prim: any of: GRHayL/Con2Prim/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  EOS: any of: GRHayL/EOS/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  flux_source: any of: GRHayL/Flux_Source/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  induction: any of: GRHayL/Induction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  neutrinos: any of: GRHayL/Neutrinos/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  reconstruction: any of: GRHayL/Reconstruction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
