Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

C2P: bugfix in guess_primitives; cleanup
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/Con2Prim/initialize_diagnostics.c
  GRHayL/Con2Prim/undensitize_conservatives.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: con2prim

Added missing ghl_ from induction structs
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/include/ghl_induction.h
  Unit_Tests/compute_A_flux_with_B.c
  Unit_Tests/compute_A_flux_with_Btilde.c
  Unit_Tests/compute_ccc_ADM.c
  Unit_Tests/compute_ccc_BSSN.c
  Unit_Tests/compute_vvv_ADM.c
  Unit_Tests/unit_test_ET_Legacy_induction_gauge_rhs.c
Due: induction

PPM: cleanup; added missing comments
  GRHayL/Reconstruction/PPM/make.code.defn
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/ppm_compute_ftilde.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction_with_steepening.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_reconstruction.h
Due: reconstruction

Fixed mistyping int -> bool
  GRHayL/include/ghl_con2prim.h
Due: none

CI: Workflow improvements/fixes
  .github/actions/OS_setup/action.yml
  .github/actions/code-coverage/action.yml
  .github/actions/compile_GRHayL/action.yml
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
Due: none

Added Doxygen files, basic gem doc setup
  Doxyfile
  DoxygenLayout.xml
  docs/raw/Atmosphere.dox
  docs/raw/Con2Prim.dox
  docs/raw/EOS.dox
  docs/raw/Flux_Source.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
  docs/raw/custom.css
  docs/raw/doxygen-awesome.css
  docs/raw/mainpage.md
Due: none

docs: Added GRHayL_Core, Atmosphere doxygen comments
  GRHayL/Atmosphere/set_prims_to_constant_atm.c
  GRHayL/GRHayL_Core/compute_ADM_auxiliaries.c
  GRHayL/GRHayL_Core/compute_TDNmunu.c
  GRHayL/GRHayL_Core/compute_TUPmunu.c
  GRHayL/GRHayL_Core/compute_smallb_and_b2.c
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/GRHayL_Core/initialize_conservatives.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_extrinsic_curvature.c
  GRHayL/GRHayL_Core/initialize_metric.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/GRHayL_Core/initialize_primitives.c
  GRHayL/GRHayL_Core/initialize_stress_energy.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/GRHayL_Core/return_conservatives.c
  GRHayL/GRHayL_Core/return_primitives.c
  GRHayL/GRHayL_Core/return_stress_energy.c
Due: grhayl_core, atmosphere

Docs for PLM, some PPM; fixes,; cleanup
  Doxyfile
  GRHayL/Atmosphere/set_prims_to_constant_atm.c
  GRHayL/GRHayL_Core/compute_ADM_auxiliaries.c
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_metric.c
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/mc_reconstruction.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PLM/minmod_reconstruction.c
  GRHayL/Reconstruction/PLM/superbee_reconstruction.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction_with_steepening.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  docs/raw/Atmosphere.dox
  docs/raw/Con2Prim.dox
  docs/raw/EOS.dox
  docs/raw/Flux_Source.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
  docs/raw/mainpage.md
Due: grhayl_core, atmosphere, reconstruction

Unit test for M1 source
  GRHayL/Radiation/M1/compute_radiation_closure.c
  GRHayL/Radiation/M1/compute_radiation_flux.c
  GRHayL/Radiation/M1/compute_radiation_source.c
  GRHayL/Radiation/M1/make.code.defn
  GRHayL/include/ghl_m1.h
  GRHayL/include/ghl_radiation.h
  Unit_Tests/unit_test_m1_compute_radiation_source.c
Due: none

More comments added; bibtex and licensing info added
  Doxyfile
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_metric_helpers.h
  docs/raw/Reconstruction.dox
  docs/raw/license.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: reconstruction

docs: finished reconstruction
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PPM/ppm_compute_ftilde.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/WENO/make.code.defn
  GRHayL/Reconstruction/WENO/wenoz_reconstruction.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction.c
  GRHayL/Reconstruction/make.code.defn
  GRHayL/include/ghl_reconstruction.h
  docs/raw/Reconstruction.dox
  docs/raw/license.md
  implementations/GRHayLib/src/make.code.defn
Due: reconstruction

Docs changes; new helper function
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl.h
  docs/raw/Reconstruction.dox
Due: con2prim, reconstruction

Docs: induction flux docs
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  docs/raw/Induction.dox
Due: induction

Docs: Induction gauge functions
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Induction/calculate_phitilde_rhs.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_metric_helpers.h
  docs/raw/Induction.dox
Due: induction, reconstruction

Docs: formatting
  docs/raw/Con2Prim.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Reconstruction.dox
Due: none

Docs: cleanup, enum/struct additions
  DoxygenLayout.xml
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_induction.h
  GRHayL/include/ghl_reconstruction.h
  docs/raw/EOS.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
Due: grhayl_core, induction, reconstruction

More comments, min/max cleanup
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_atmosphere.h
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_radiation.h
  GRHayL/include/make.code.defn
  GRHayL/include/nrpyleakage.h
  docs/all_top.c
  docs/raw/Con2Prim.dox
  docs/raw/derivation.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: con2prim, EOS, induction

More Con2Prim documentation
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/compute_conservs.c
  GRHayL/Con2Prim/compute_conservs_and_Tmunu.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/Con2Prim/undensitize_conservatives.c
  GRHayL/include/ghl.h
Due: con2prim

More c2p docs
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
Due: grhayl_core, con2prim

Adds many c2p_internal docs
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/brent.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/roots.h
  GRHayL/Con2Prim/toms748.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  docs/raw/derivation.md
  docs/raw/license.md
Due: con2prim

Config: rearranged configure
  config/config_functions.sh
  config/config_usage.sh
  config/hdf5_test.c
  config/link_test.c
  config/omp_test.c
  configure
Due: none

Added .editorconfig that matches GRHayL's coding style
  .editorconfig
Due: none

Added .clangd and compile_flag.txt
  .clangd
  compile_flags.txt
Due: none

Added basics of CompOSE reading.
  Unit_Tests/unit_test_compose.c
Due: none

Increased maximum column width
  .clang-format
Due: none

Added functions to read CompOSE table.
  Unit_Tests/unit_test_compose.c
Due: none

Added prefix 'ghl' to radiation and reconstruction includes in GRHayLib.h file.
  implementations/GRHayLib/src/GRHayLib.h
Due: none

Added Radiation/M1 to make.code.defn, to compile M1 in the toolkit
  implementations/GRHayLib/src/make.code.defn
Due: none

Adjusted set_equilibrium function
  GRHayL/GRHayL_Core/initialize_m1_closure.c
  GRHayL/Radiation/M1/set_Equilibrium.c
  GRHayL/Radiation/M1/set_equilibrium.c
  GRHayL/include/ghl_radiation.h
Due: grhayl_core

Added comments for Font1D
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  docs/raw/ref.bib
Due: con2prim

Initialize closure function in initialize_and_shutdown.c in GRHayLib
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Made updates to set_equilibrium, but far from complete. Added calc for rnnu, the number density in fluid frame.
  GRHayL/Radiation/M1/make.code.defn
  GRHayL/Radiation/M1/set_equilibrium.c
  GRHayL/include/ghl_radiation.h
Due: none

Added validation of many tabulated quantities
  Unit_Tests/unit_test_compose.c
  compile_flags.txt
Due: none

Fix Realpath to allow for hidden directories
  configure
Due: none

Update formatting
  GRHayL/EOS/Hybrid/NRPyEOS_find_polytropic_index_from_P.c
Due: EOS

Reorganize files in make.code.defn
  GRHayL/EOS/Hybrid/make.code.defn
Due: EOS

Revert to main
  GRHayL/EOS/Hybrid/NRPyEOS_find_polytropic_index.c
Due: EOS

Remove unused arrays
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/include/ghl.h
Due: grhayl_core

Prototyped all functions in radiation.h, and fixed associated compiler warnings.
  GRHayL/Radiation/M1/compute_radiation_source.c
  GRHayL/Radiation/M1/set_equilibrium.c
  GRHayL/include/ghl_radiation.h
Due: none

Made fix to set_equilibrium function: sepearated species to be called and calced individually in the loop
  GRHayL/Radiation/M1/set_equilibrium.c
  GRHayL/include/ghl_radiation.h
Due: none
