Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

GRHayL/EOS/Tabulated/NRPyEOS_tabulated_clean_sound_speed.c: clean sound speed
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_clean_sound_speed.c
Due: EOS

.github/run_tests.sh: minor bug fix when download grhayl_core data file
  .github/run_tests.sh
Due: none

.github/actions: updated OS_setup
  .github/actions/OS_setup/action.yml
  .github/actions/compile_GRHayL/action.yml
Due: none

.github/actions/code-coverage/action.yml: fixed llvm*-14 -> llvm* commands
  .github/actions/code-coverage/action.yml
Due: none

.github/run_tests.sh: more friendly when running locally multiple times
  .github/run_tests.sh
Due: none

GRHayL/include/ghl_nrpyeos_tabulated.h: removed dPdT and dhdT keys
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: none

.github/actions/code-coverage/action.yml: fixed versioning issue with llvm-* utils
  .github/actions/code-coverage/action.yml
Due: none

Removed mentions to CerdaDuran2D and CerdaDuran3D routines, for now
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: con2prim

GRHayL/EOS/Tabulated/stellarcollapse: reader & functions for stellar collapse EOS format
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse_to_ghl.c
  GRHayL/EOS/Tabulated/stellarcollapse/make.code.defn
Due: EOS

Restored simple_eos.h5
  .github/run_tests.sh
Due: none

Fixes from rebase + formatting
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/Con2Prim/roots.h
  GRHayL/Con2Prim/toms748.c
  GRHayL/Con2Prim/undensitize_conservatives.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/include/ghl.h
  configure
  docs/all_top.c
Due: con2prim, EOS

GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.*: cleaned up dead code
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.h
Due: EOS

GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c: removed 'validate_table' function
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

More comments
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/brent.c
  GRHayL/Con2Prim/compute_conservs.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Hybrid/NRPyEOS_compute_P_cold.c
  GRHayL/EOS/Hybrid/NRPyEOS_compute_P_cold_and_eps_cold.c
  GRHayL/EOS/Hybrid/NRPyEOS_compute_entropy_function.c
  GRHayL/EOS/Hybrid/NRPyEOS_enforce_bounds.c
  GRHayL/EOS/Hybrid/NRPyEOS_find_polytropic_index.c
  GRHayL/EOS/Hybrid/NRPyEOS_find_polytropic_index_from_P.c
  GRHayL/EOS/Hybrid/NRPyEOS_get_K_and_gamma.c
  GRHayL/EOS/Hybrid/NRPyEOS_hybrid_compute_enthalpy_and_cs2.c
  GRHayL/EOS/Hybrid/NRPyEOS_hybrid_compute_epsilon.c
  GRHayL/EOS/Hybrid/NRPyEOS_hybrid_compute_rho_cold_from_P_cold.c
  GRHayL/EOS/Hybrid/NRPyEOS_set_K_ppoly_and_eps_integ_consts.c
  GRHayL/GRHayL_Core/initialize_primitives.c
  GRHayL/GRHayL_Core/return_primitives.c
  GRHayL/include/ghl.h
  docs/raw/EOS.dox
Due: grhayl_core, con2prim, EOS

GRHayLib.h: added ghl_imax and ghl_imin to replace MAX and MIN macros in thorns, respectively
  implementations/GRHayLib/src/GRHayLib.h
Due: none

Added new unit tests for new HDF5 helpers failure modes
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  Unit_Tests/unit_test_code_error.c
Due: EOS

Issue 1: addressed (removed white space in GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c)
  GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c
Due: EOS

Issue 2: partially addressed (--nohdf5 fixes)
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  configure
Due: EOS

Issue 3: addressed (LD_LIBRARY_PATH export + bug)
  .github/run_tests.sh
Due: none

Issue 5: addressed (fix memory leak)
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Issue 6: addressed (missing free's)
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Issue 7: addressed (missing free of logh)
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
Due: EOS

Issue 8: addressed (changed compute_enthalpy_and_cs2 to assume relativistic cs2)
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_enthalpy_and_cs2.c
Due: EOS

Issue 9: addressed (check dataset size)
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Issue 10: addressed (missing exported function ghl_compute_SU_Bsq_Ssq_BdotS)
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
  GRHayL/Con2Prim/compute_SU_Bsq_Ssq_BdotS.c
  GRHayL/Con2Prim/make.code.defn
  GRHayL/Con2Prim/utils_Palenzuela1D.h
Due: con2prim

Issue 10: addressed (removed missing exported function prototype)
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: none

Issue 12: addressed (use clean_sound_speed EOS parameter)
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  Unit_Tests/nrpyleakage_main.h
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_tabulated_eos.c
  Unit_Tests/unit_test_tabulated_flux.c
Due: EOS

Issue 13: addressed (fix documentation string)
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
Due: EOS

Issue 14: addressed (logh -> h in interpolator output)
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_T_interpolate_n_quantities.c
Due: EOS

Issue 15: addressed (ndims == 0 allowed when reading HDF5 dataset)
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
Due: EOS

Issue 16: addressed (issue warning if tabulated enthalpy is invalid)
  GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c
Due: EOS

Issue 17: addressed
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_adjust_sound_speed.c
  GRHayL/EOS/Tabulated/make.code.defn
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: EOS

Fixed configure (removed -Werror flag)
  configure
Due: none

Unit_Tests/unit_test_tabulated_eos.c: adjusted to account for tabulated relativistic sound speed
  Unit_Tests/unit_test_tabulated_eos.c
Due: none

Unit_Tests: added additional tests to improve code coverage of EOS reader code
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  Unit_Tests/unit_test_code_error.c
Due: EOS

Adjusted Unit_Tests/unit_test_tabulated_eos.c so that it works with original 'simple_table.h5' input file
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  Unit_Tests/sample_table/generate_simple_table.py
  Unit_Tests/tabulated_eos_unit_test_helpers.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: EOS

GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c: adjusted misleading error message
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
Due: EOS

GRHayL/include/ghl.h: added ghl_eos_table_unknown = 0, to force initialization; Adjusted GRHayLib's initialization
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/include/ghl.h
  Unit_Tests/unit_test_tabulated_eos.c
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: EOS

implementations/GRHayLib/src/initialize_and_shutdown.c: adjusted freeing memory for tabulated EOS
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none
