Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

Round 6, Issue 4: fixed function documentation
  GRHayL/Con2Prim/compute_SU_Bsq_Ssq_BdotS.c
Due: con2prim

Round 6, Issue 6: fixed return type
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: EOS

Round 6, Issue 2: fixed GRHayLib's make.code.defn
  implementations/GRHayLib/src/make.code.defn
Due: none

Round 6, Issue 3: fixed GRHayLib's tabulated EOS initialization issue
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: none

Fix stale HDF5 guard macros after merge
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
Due: EOS

Fix no-HDF5 public API guards
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/unit_test_code_error.c
  configure
Due: grhayl_core, con2prim, EOS, neutrinos

Finish no-HDF5 guard macro cleanup
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
Due: EOS

Fix no-HDF5 C++ header and code-error test guard
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/unit_test_code_error.c
Due: none

Define GRHAYL_ENABLE_HDF5 in HDF5 build paths
  generate_makefile.sh
  implementations/GRHayLib/src/make.code.defn
Due: none

Rename HDF5 feature macro to GHL_ENABLE_HDF5
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl_nrpyeos_tabulated.h
  README.md
  Unit_Tests/unit_test_code_error.c
  configure
  generate_makefile.sh
  implementations/GRHayLib/src/make.code.defn
Due: grhayl_core, con2prim, EOS, neutrinos

Use GHL_DISABLE_HDF5 for no-HDF5 builds
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl_nrpyeos_tabulated.h
  README.md
  Unit_Tests/unit_test_code_error.c
  configure
  generate_makefile.sh
  implementations/GRHayLib/src/make.code.defn
Due: grhayl_core, con2prim, EOS, neutrinos

Fix no-HDF5 build configuration (#96)
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  README.md
  Unit_Tests/unit_test_code_error.c
  configure
Due: grhayl_core, con2prim, EOS, neutrinos

Fix reviewed Doxygen regressions
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/compute_conservs.c
  GRHayL/Con2Prim/compute_conservs_and_Tmunu.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/EOS/Hybrid/NRPyEOS_compute_P_cold.c
  GRHayL/EOS/Hybrid/NRPyEOS_set_K_ppoly_and_eps_integ_consts.c
  GRHayL/GRHayL_Core/compute_smallb_and_b2.c
  GRHayL/GRHayL_Core/initialize_extrinsic_curvature.c
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_induction.h
  GRHayL/include/ghl_metric_helpers.h
  GRHayL/include/ghl_radiation.h
  docs/raw/EOS.dox
  docs/raw/Induction.dox
  docs/raw/derivation.md
  docs/raw/license.md
  docs/raw/mainpage.md
Due: grhayl_core, con2prim, EOS, induction, reconstruction

Restrict Doxygen branch to documentation scope
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
Due: con2prim, EOS

Fix documentation issues from code review
  Doxyfile
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/roots.h
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/calculate_phitilde_rhs.c
  GRHayL/include/ghl_induction.h
  GRHayL/include/ghl_radiation.h
  README.md
  docs/raw/GRHayL_Core.dox
  docs/raw/Induction.dox
  docs/raw/license.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: grhayl_core, con2prim, induction

Address remaining codereview documentation issues
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/GRHayL_Core/return_primitives.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Reconstruction/PLM/mc_reconstruction.c
  docs/raw/derivation.md
  docs/raw/license.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: grhayl_core, con2prim, induction, reconstruction

Fix latest codereview documentation issues
  configure
  docs/raw/Induction.dox
  docs/raw/derivation.md
Due: none

Address latest codereview documentation cleanup
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/brent.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/EOS/Hybrid/NRPyEOS_get_K_and_gamma.c
  GRHayL/EOS/Hybrid/NRPyEOS_hybrid_compute_enthalpy_and_cs2.c
  GRHayL/EOS/Hybrid/NRPyEOS_set_K_ppoly_and_eps_integ_consts.c
  GRHayL/GRHayL_Core/initialize_metric.c
  GRHayL/GRHayL_Core/initialize_primitives.c
  GRHayL/GRHayL_Core/return_conservatives.c
  GRHayL/GRHayL_Core/return_primitives.c
  GRHayL/GRHayL_Core/return_stress_energy.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/include/ghl_metric_helpers.h
  docs/raw/derivation.md
Due: grhayl_core, con2prim, EOS, induction, reconstruction

Address latest documentation review findings
  GRHayL/EOS/Hybrid/NRPyEOS_compute_entropy_function.c
  GRHayL/EOS/Hybrid/NRPyEOS_set_K_ppoly_and_eps_integ_consts.c
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  docs/raw/Con2Prim.dox
  docs/raw/Reconstruction.dox
  docs/raw/derivation.md
  docs/raw/license.md
  docs/raw/ref.bib
Due: grhayl_core, EOS

Address latest documentation review findings
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/GRHayL_Core/compute_ADM_auxiliaries.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Induction/calculate_phitilde_rhs.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  docs/raw/Induction.dox
  docs/raw/derivation.md
Due: grhayl_core, con2prim, induction, reconstruction

Clarify remaining Doxygen review findings
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/GRHayL_Core/initialize_conservatives.c
  GRHayL/GRHayL_Core/return_conservatives.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  docs/raw/Flux_Source.dox
  docs/raw/derivation.md
Due: grhayl_core, con2prim, induction

Render math in derivation headings
  docs/raw/derivation.md
Due: none

Render derivation TOC math labels
  docs/raw/derivation.md
Due: none

Address latest Doxygen review fixes
  docs/raw/custom.css
  docs/raw/derivation.md
Due: none

Renamed ghl_con2prim_method_t -> ghl_con2prim_id_t and added prefix to enum members
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/initialize_diagnostics.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_primitives.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_ET_Legacy_conservs.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  Unit_Tests/unit_test_ET_Legacy_reconstruction.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_compute_conservs_and_Tmunu.c
  Unit_Tests/unit_test_con2prim_debug.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_hybrid_failure.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: grhayl_core, con2prim

Addressed review comments, primarily fixing implementations/GRHayLib/src/initialize_and_shutdown.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: con2prim

Renamed ghl_con2prim_method_t -> ghl_con2prim_id_t (#97)
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/initialize_diagnostics.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_primitives.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_ET_Legacy_conservs.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  Unit_Tests/unit_test_ET_Legacy_reconstruction.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_compute_conservs_and_Tmunu.c
  Unit_Tests/unit_test_con2prim_debug.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_hybrid_failure.c
  Unit_Tests/unit_test_tabulated_eos.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: grhayl_core, con2prim

GRHayL/Con2Prim/con2prim_multi_method.c: cleaned and generalized backup strategy
  GRHayL/Con2Prim/con2prim_multi_method.c
Due: con2prim

GRHayL/Con2Prim/con2prim_multi_method.c: fixed small but critical bug
  GRHayL/Con2Prim/con2prim_multi_method.c
Due: con2prim

Cleaned and generalized con2prim backup strategy (#99)
  GRHayL/Con2Prim/con2prim_multi_method.c
Due: con2prim

GRHayL/: added exports for ghl_imin, ghl_imax, ghl_iclamp, and ghl_clamp
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/con2prim_CerdaDuran3D.cc
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  GRHayL/EOS/Tabulated/NRPyEOS_enforce_table_bounds.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/GRHayL_Core/make.code.defn
  GRHayL/GRHayL_Core/min_max_clamp.c
  GRHayL/include/ghl.h
Due: grhayl_core, con2prim, EOS

Initial commit: added tabulated EOS Noble2D and additional supporting functions. Still need cleanup.
  GRHayL/Con2Prim/Tabulated/Noble2D/make.code.defn
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/Con2Prim/Tabulated/Tabulated_CerdaDuran2D.c
  GRHayL/Con2Prim/Tabulated/make.code.defn
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_S_and_T_from_rho_Ye_h.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_dPdrho_dPdeps_and_T_from_rho_Ye_h.c
  GRHayL/EOS/Tabulated/interpolators/make.code.defn
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  implementations/GRHayLib/src/make.code.defn
Due: con2prim, EOS

Renamed ADM_metric -> metric_adm
  GRHayL/include/ghl.h
Due: none

Initial commit: added tabulated EOS Noble2D and additional supporting functions. Still need cleanup.
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
Due: con2prim
