Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

Fixed a couple of additional instances when HDF5 is disabled
  Unit_Tests/tabulated_eos_unit_test_helpers.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: none

GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c: fixed round-up issue in 'bisect left' function
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: EOS

GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c: fixed diagnostics registration (Palenzuela -> Palenzuela_entropy)
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c
Due: con2prim

Minor Fixes (#86)
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
Due: con2prim, EOS

GRHayL/Radiation/NRPyLeakage/NRPyLeakage_compute_neutrino_absorption_and_scattering_opacities.c: minor cleanup
  GRHayL/Radiation/NRPyLeakage/NRPyLeakage_compute_neutrino_absorption_and_scattering_opacities.c
Due: none

Testing higher order WENOZ reconstruction
  GRHayL/Reconstruction/WENO/derive_wenoz_coefficients.py
  GRHayL/Reconstruction/WENO/make.code.defn
  GRHayL/Reconstruction/WENO/weno7z_reconstruction.c
  GRHayL/Reconstruction/WENO/weno7z_reconstruction_for_cell.c
  GRHayL/Reconstruction/WENO/weno9z_reconstruction.c
  GRHayL/Reconstruction/WENO/weno9z_reconstruction_for_cell.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_helpers.h
  GRHayL/include/ghl_reconstruction.h
  Unit_Tests/data_gen/unit_test_data_WENO7Z_reconstruction.c
  Unit_Tests/data_gen/unit_test_data_WENO9Z_reconstruction.c
  Unit_Tests/unit_test_WENO7Z_reconstruction.c
  Unit_Tests/unit_test_WENO9Z_reconstruction.c
Due: reconstruction

Added convergence unit test
  Unit_Tests/unit_test_WENO7Z_WENO9Z_convergence.c
Due: none

Some organizational clean up
  GRHayL/Reconstruction/WENOZ/make.code.defn
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  GRHayL/Reconstruction/make.code.defn
  implementations/GRHayLib/src/make.code.defn
Due: reconstruction

Remove MC Hybridization
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
Due: reconstruction

Removed all instances of MIN/MAX macros from C code, using C library's fmin/fmax or static inline imin/imax functions as needed.
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Tabulated_CerdaDuran2D.c
  GRHayL/Con2Prim/Tabulated/con2prim_CerdaDuran3D.cc
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_optical_depths_PathOfLeastResistance.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyleakage.h
Due: con2prim, EOS, neutrinos, reconstruction

.github/workflows: replaced macos-13 (no longer supported) with macos-14-large (x64) and macos-14 (arm64)
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

.github/workflows: removed macos-14-large (x64)
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

.github/workflows/github-actions-MacOS-gcc.yml: fixed typo tmacos -> macos
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

.github/workflows: added macos-15, which is not latest (latest is macos-26)
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

Remove MIN/MAX Macros (#87)
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Tabulated_CerdaDuran2D.c
  GRHayL/Con2Prim/Tabulated/con2prim_CerdaDuran3D.cc
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_optical_depths_PathOfLeastResistance.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyleakage.h
Due: con2prim, EOS, neutrinos, reconstruction

Added Doxygen files, basic gem doc setup
  Doxyfile
  DoxygenLayout.xml
  docs/raw/Atmosphere.dox
  docs/raw/Con2Prim.dox
  docs/raw/EOS.dox
  docs/raw/Flux_Source.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
  docs/raw/custom.css
  docs/raw/doxygen-awesome.css
  docs/raw/mainpage.md
Due: none

Docs for PLM, some PPM; fixes,; cleanup
  Doxyfile
  GRHayL/Atmosphere/set_prims_to_constant_atm.c
  GRHayL/GRHayL_Core/compute_ADM_auxiliaries.c
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_metric.c
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/mc_reconstruction.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PLM/minmod_reconstruction.c
  GRHayL/Reconstruction/PLM/superbee_reconstruction.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction.c
  GRHayL/Reconstruction/PPM/ppm_reconstruction_with_steepening.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  docs/raw/Atmosphere.dox
  docs/raw/Con2Prim.dox
  docs/raw/EOS.dox
  docs/raw/Flux_Source.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
  docs/raw/mainpage.md
Due: grhayl_core, atmosphere, reconstruction

docs: Added GRHayL_Core, Atmosphere doxygen comments
  GRHayL/Atmosphere/set_prims_to_constant_atm.c
  GRHayL/GRHayL_Core/compute_ADM_auxiliaries.c
  GRHayL/GRHayL_Core/compute_TDNmunu.c
  GRHayL/GRHayL_Core/compute_TUPmunu.c
  GRHayL/GRHayL_Core/compute_smallb_and_b2.c
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/GRHayL_Core/initialize_conservatives.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_extrinsic_curvature.c
  GRHayL/GRHayL_Core/initialize_metric.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/GRHayL_Core/initialize_primitives.c
  GRHayL/GRHayL_Core/initialize_stress_energy.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/GRHayL_Core/return_conservatives.c
  GRHayL/GRHayL_Core/return_primitives.c
  GRHayL/GRHayL_Core/return_stress_energy.c
Due: grhayl_core, atmosphere

docs: finished reconstruction
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PPM/ppm_compute_ftilde.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/WENO/make.code.defn
  GRHayL/Reconstruction/WENO/wenoz_reconstruction.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction.c
  GRHayL/Reconstruction/make.code.defn
  GRHayL/include/ghl_reconstruction.h
  docs/raw/Reconstruction.dox
  docs/raw/license.md
  implementations/GRHayLib/src/make.code.defn
Due: reconstruction

More comments added; bibtex and licensing info added
  Doxyfile
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_metric_helpers.h
  docs/raw/Reconstruction.dox
  docs/raw/license.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: reconstruction

Docs: Induction gauge functions
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_ADM.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Induction/calculate_phitilde_rhs.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl_metric_helpers.h
  docs/raw/Induction.dox
Due: induction, reconstruction

Docs: formatting
  docs/raw/Con2Prim.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/Reconstruction.dox
Due: none

Docs: induction flux docs
  GRHayL/Induction/HLL_flux_with_B.c
  GRHayL/Induction/HLL_flux_with_Btilde.c
  docs/raw/Induction.dox
Due: induction

Docs changes; new helper function
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/include/ghl.h
  docs/raw/Reconstruction.dox
Due: con2prim, reconstruction

Docs: cleanup, enum/struct additions
  DoxygenLayout.xml
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/initialize_params.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENO/wenoz_reconstruction_for_cell.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_induction.h
  GRHayL/include/ghl_reconstruction.h
  docs/raw/EOS.dox
  docs/raw/Induction.dox
  docs/raw/Reconstruction.dox
Due: grhayl_core, induction, reconstruction

More comments, min/max cleanup
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/Induction/HLL_flux_with_Btilde.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_atmosphere.h
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_nrpyleakage.h
  GRHayL/include/ghl_radiation.h
  docs/all_top.c
  docs/raw/Con2Prim.dox
  docs/raw/derivation.md
  docs/raw/mainpage.md
  docs/raw/ref.bib
Due: con2prim, EOS, induction

More Con2Prim documentation
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/compute_conservs.c
  GRHayL/Con2Prim/compute_conservs_and_Tmunu.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/Con2Prim/undensitize_conservatives.c
  GRHayL/include/ghl.h
Due: con2prim

More c2p docs
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
Due: grhayl_core, con2prim

Adds many c2p_internal docs
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/brent.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/roots.h
  GRHayL/Con2Prim/toms748.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  docs/raw/derivation.md
  docs/raw/license.md
Due: con2prim

Config: rearranged configure
  config/config_functions.sh
  config/config_usage.sh
  config/hdf5_test.c
  config/link_test.c
  config/omp_test.c
  configure
Due: none

Added comments for Font1D
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  docs/raw/ref.bib
Due: con2prim

Unit_Tests/nrpyleakage_main.h: fixed tabulated EOS initialization issue
  Unit_Tests/nrpyleakage_main.h
Due: none

Fixed unexpected unit tests failures in new EOS reader
  .github/run_tests.sh
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  Unit_Tests/sample_table/generate_simple_table.py
  Unit_Tests/tabulated_eos_unit_test_helpers.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_tabulated_eos.c
Due: EOS

GRHayL/EOS/Tabulated: updated EOS table reader and headers
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/make.code.defn
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: EOS

GRHayL/EOS/Tabulated/*hdf5*: new HDF5 helper functions
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.c
  GRHayL/EOS/Tabulated/NRPyEOS_hdf5_helpers.h
Due: EOS

GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c: tabulated the enthalpy
  GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c
Due: EOS

GRHayL/EOS/Tabulated/make.code.defn: removed smoothing subdirectory, for now
  GRHayL/EOS/Tabulated/make.code.defn
Due: EOS

Unit_Tests/*tabulated*.c: fixed EOS initialization issue due to latest changes to the reader
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_tabulated_eos.c
  Unit_Tests/unit_test_tabulated_flux.c
Due: none

.github/run_tests.sh: minor adjustments and variable renaming
  .github/run_tests.sh
Due: none
