Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

fix(flux): preserve generic HLLE callback ABI
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  docs/raw/Flux_Source.dox
  wiki/catalog.md
  wiki/contradictions.md
  wiki/core/eos-dispatch-contract.md
  wiki/gems/eos/initialization-and-dispatch.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/physics/evolution-equation-map.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: none

fix: align GRHayLib EOS and limiter contracts
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
  wiki/implementations/grhaylib/runtime-parameter-contract.md
Due: none

fix(eos): preserve intentional zero cold curves
  GRHayL/EOS/Hybrid/NRPyEOS_hybrid_compute_rho_cold_from_P_cold.c
  GRHayL/GRHayL_Core/initialize_eos.c
  wiki/gems/eos/hybrid-piecewise-polytrope.md
  wiki/gems/eos/initialization-and-dispatch.md
Due: grhayl_core, EOS

fix: correct vertex interpolation contract
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/include/ghl_induction.h
  Unit_Tests/compute_vvv_ADM.c
  Unit_Tests/unit_test_induction_vvv_ADM.c
  docs/raw/Induction.dox
  wiki/catalog.md
  wiki/gems/induction.md
  wiki/gems/induction/interpolation-and-staggering-contract.md
  wiki/gems/induction/tests-and-fixtures.md
Due: induction

fix(flux-source): resolve review findings
  GRHayL/Flux_Source/IGM_All_fluxes.py
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn0_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn1_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn2_hybrid.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn0_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn1_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn2_hybrid_entropy.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn0_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn1_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn2_tabulated.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn0_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn1_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn2_tabulated_entropy.c
  GRHayL/include/ghl_flux_source.h
  wiki/build-and-ci.md
  wiki/core/errors-io-debug-utilities.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/generated-boundaries.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: flux_source

fix: pin refreshed ET gauge fixtures and track test headers
  .github/et-legacy-testdata-ref
  configure
Due: none

.github/et-legacy-testdata-ref: Update to the latest trusted data
  .github/et-legacy-testdata-ref
Due: none

ci: fail fast and retry on test-data download errors
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
Due: none

fix(eos): bounds-check T-only recovery and mark HLLE globals deprecated
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_T_interpolate_n_quantities.c
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  docs/raw/EOS.dox
  wiki/gems/eos/tabulated-interpolator-catalog.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
Due: EOS

test: pin cap-safe ET-Legacy conservs oracle
  .github/et-legacy-testdata-ref
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  wiki/tests/et-legacy-comparison-contract.md
Due: none

fix(flux-source): drop untested HLLE underflow guard and close doc gaps
  GRHayL/Flux_Source/IGM_All_fluxes.py
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn0_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn1_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn2_hybrid.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn0_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn1_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn2_hybrid_entropy.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn0_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn1_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn2_tabulated.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn0_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn1_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn2_tabulated_entropy.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_flux_source.h
  Unit_Tests/unit_test_ET_Legacy_conservs.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_compute_conservs_and_Tmunu.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_hybrid_flux.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_optically_thin_gas.c
  Unit_Tests/unit_test_tabulated_eos_compose.c
  Unit_Tests/unit_test_tabulated_flux.c
  docs/raw/Flux_Source.dox
  wiki/gems/flux-source.md
  wiki/gems/flux-source/characteristic-speeds-contract.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/gems/flux-source/source-terms-contract.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/physics/evolution-equation-map.md
  wiki/public-api-map.md
Due: grhayl_core, flux_source

fix: let velocity limiting finish at small lapse
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/include/ghl.h
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_conservs.c
  Unit_Tests/data_gen/unit_test_data_grhayl_core_test_suite.c
  wiki/core/velocity-u0-contract.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
Due: grhayl_core

test: keep flux fixture face states below the Lorentz cap
  .github/et-legacy-testdata-ref
  Unit_Tests/data_gen/unit_test_data_hybrid_flux.c
  Unit_Tests/data_gen/unit_test_data_tabulated_flux.c
  wiki/core/tests-and-fixtures.md
  wiki/core/velocity-u0-contract.md
  wiki/gems/flux-source/tests-and-fixtures.md
Due: none

style: restore two-space indent for final Core metric assertion
  Unit_Tests/unit_test_grhayl_core_test_suite.c
Due: none

.github/et-legacy-testdata-ref: pin flux goldens for HLLE wave-speed checks
  .github/et-legacy-testdata-ref
Due: none

test(flux-source): drop the loose replay check for negative wave speeds
  Unit_Tests/unit_test_hybrid_flux.c
  Unit_Tests/unit_test_tabulated_flux.c
  wiki/gems/flux-source/tests-and-fixtures.md
Due: none

GRHayL/Flux_Source: fix some whitespace issues
  GRHayL/Flux_Source/IGM_All_Source_Terms.py
  GRHayL/Flux_Source/IGM_All_fluxes.py
  GRHayL/Flux_Source/IGM_Characteristic_Speeds.py
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn0.c
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn1.c
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn2.c
  GRHayL/Flux_Source/ghl_calculate_source_terms.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn0_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn1_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn2_hybrid.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn0_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn1_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn2_hybrid_entropy.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn0_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn1_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn2_tabulated.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn0_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn1_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn2_tabulated_entropy.c
Due: flux_source

Drop changes unrelated to M1 radiation
  .github/actions/compile_GRHayL/action.yml
  Doxyfile
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_m1_rate_provider.c
  configure
  docs/raw/doxygen-awesome.css
  tasks/plan.md
  tasks/todo.md
  wiki/future_work/index.md
  wiki/future_work/interactions/distinct-nucleon-decay-contributions.md
  wiki/future_work/interactions/inelastic-neutrino-electron-scattering.md
  wiki/future_work/interactions/weak-magnetism-recoil-phase-space-mean-field.md
  wiki/gems/neutrinos/nucleon-blocking-and-eos-conventions.md
  wiki/index.md
Due: grhayl_core, neutrinos

Radiation: restore exact closure trace at high Lorentz factor
  GRHayL/Radiation/ghl_m1_closure.c
Due: none

Update M1 radiation to fix issues + reach consistency with GRHayL changes
  .github/actions/code-coverage/action.yml
  .github/actions/run_m1/action.yml
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  .gitignore
  GRHayL/Flux_Source/ghl_calculate_Rusanov_flux.c
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_implicit.h
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_implicit_solve.c
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_pair_source.c
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_source_update.c
  GRHayL/Radiation/Neutrinos/ghl_neutrino_rate_provider.c
  GRHayL/Radiation/ghl_m1_closure.c
  GRHayL/Radiation/ghl_m1_four_point_blended_rusanov.c
  GRHayL/include/ghl_m1.h
  GRHayL/include/ghl_neutrino_rate_provider.h
  Unit_Tests/README.m1.md
  Unit_Tests/data/m1_thcm1/README.md
  Unit_Tests/data/m1_thcm1/payloads.tar.gz
  Unit_Tests/m1_test_utils.h
  Unit_Tests/run_m1_tests.sh
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_m1_error_handling.c
  Unit_Tests/unit_test_m1_fd_jacobian.c
  Unit_Tests/unit_test_m1_neutrino_source_update.c
  Unit_Tests/unit_test_m1_rate_provider.c
  Unit_Tests/unit_test_m1_thcm1_blended_rusanov.c
  Unit_Tests/unit_test_rusanov_flux.c
  codecov.yml
  wiki/build-and-ci.md
  wiki/gems/radiation-m1/m1-diagnostics-and-verification.md
  wiki/gems/radiation-m1/m1-four-point-blended-rusanov.md
  wiki/gems/radiation-m1/m1-implicit-newton-and-failure-policy.md
  wiki/gems/radiation-m1/tests-and-fixtures.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/tests/runner-and-generated-artifacts.md
Due: flux_source

GRHayL/Flux_Source: preserve precision in generated HLLE fluxes
  GRHayL/Flux_Source/generate_flux_source.py
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn0_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn1_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn2_hybrid.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn0_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn1_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn2_hybrid_entropy.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn0_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn1_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn2_tabulated.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn0_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn1_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn2_tabulated_entropy.c
  wiki/gems/flux-source/generated-nrpy-boundary.md
Due: flux_source

GRHayL/Flux_Source: brace generated EOS and HLLE error guards
  GRHayL/Flux_Source/generate_flux_source.py
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn0.c
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn1.c
  GRHayL/Flux_Source/ghl_calculate_characteristic_speed_dirn2.c
  GRHayL/Flux_Source/ghl_calculate_source_terms.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn0_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn1_hybrid.c
  GRHayL/Flux_Source/hybrid/ghl_calculate_HLLE_fluxes_dirn2_hybrid.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn0_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn1_hybrid_entropy.c
  GRHayL/Flux_Source/hybrid_entropy/ghl_calculate_HLLE_fluxes_dirn2_hybrid_entropy.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn0_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn1_tabulated.c
  GRHayL/Flux_Source/tabulated/ghl_calculate_HLLE_fluxes_dirn2_tabulated.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn0_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn1_tabulated_entropy.c
  GRHayL/Flux_Source/tabulated_entropy/ghl_calculate_HLLE_fluxes_dirn2_tabulated_entropy.c
Due: flux_source

GRHayL/Con2Prim: propagate tabulated EOS errors from 1D solvers
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/roots.h
  Unit_Tests/unit_test_code_error.c
  wiki/build-and-ci.md
  wiki/core/errors-io-debug-utilities.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: con2prim

GRHayL/Con2Prim: wrap Newman1D EOS status assignments to column limit
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
Due: con2prim

Restore M1 fixture ignore rules
  .gitignore
Due: none

wiki: correct Neutrinos and Con2Prim test and solver descriptions
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/limits-and-conversions.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/gems/reconstruction/tests-and-fixtures.md
  wiki/test-map.md
  wiki/tests/hdf5-sample-tables.md
Due: none

wiki: route Atmosphere reset caller and restate radial absence
  wiki/gems/atmosphere.md
  wiki/gems/atmosphere/prescription-contract.md
Due: none

GRHayL: add FOFC candidate assessment and face-transfer accumulator
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/assess_candidate_state.c
  GRHayL/Con2Prim/make.code.defn
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/accumulate_face_transfer.c
  GRHayL/GRHayL_Core/make.code.defn
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_flux_correction.c
  docs/raw/Con2Prim.dox
  docs/raw/GRHayL_Core.dox
  docs/raw/ref.bib
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/core/errors-io-debug-utilities.md
  wiki/core/index.md
  wiki/core/struct-pack-unpack-contract.md
  wiki/gems/con2prim.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/con2prim/recovery-flow.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/hdf5-sample-tables.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: grhayl_core, con2prim

GRHayL: screen evolved entropy, make face transfer atomic, fix wording
  GRHayL/Con2Prim/assess_candidate_state.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/accumulate_face_transfer.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_flux_correction.c
  wiki/core/struct-pack-unpack-contract.md
  wiki/gems/con2prim/recovery-flow.md
  wiki/tests/expected-failure-and-error-keys.md
Due: grhayl_core, con2prim

GRHayL: drop the HDF5 gate in candidate assessment, format key 91
  GRHayL/Con2Prim/assess_candidate_state.c
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_code_error.c
Due: con2prim
