Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

Renamed ADM_metric -> metric_adm
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
Due: con2prim

Renamed ghl_con2prim_method_t -> ghl_con2prim_id_t and added prefix to enum members
  GRHayL/include/ghl.h
Due: none

Export tabulated EOS Noble2D; fix exported Con2Prim routine names.
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/include/ghl_con2prim.h
Due: con2prim

tabulated_Noble2D.c: cleaned up to use new ghl_clamp function
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
Due: con2prim

Added Noble2D unit tests (likely won't pass coverage yet)
  GRHayL/Con2Prim/con2prim_multi_method.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: con2prim

Fixed issues 1-4 from round 1 of reviews
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  implementations/GRHayLib/src/GRHayLib.h
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: con2prim, EOS

Fixed issue 5 from review round 1
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: none

.github/: updated CI and local tests to include Noble2D data
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
Due: none

Unit_Tests/unit_test_con2prim_tabulated.c: addressed issues 1 & 2 from review round 2, to some extent
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: none

Unit_Tests/unit_test_con2prim_tabulated.c: updated with latest dataset generation/validation
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: none

Addressed tabulated EOS con2prim failures
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: EOS

Fixed comment issues
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: con2prim

Tabulated EOS Noble2D Con2Prim (#100)
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Noble2D/make.code.defn
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/Con2Prim/Tabulated/Tabulated_CerdaDuran2D.c
  GRHayL/Con2Prim/Tabulated/con2prim_CerdaDuran3D.cc
  GRHayL/Con2Prim/Tabulated/make.code.defn
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  GRHayL/EOS/Tabulated/NRPyEOS_enforce_table_bounds.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_S_and_T_from_rho_Ye_h.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_dPdrho_dPdeps_and_T_from_rho_Ye_h.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/EOS/Tabulated/interpolators/make.code.defn
  GRHayL/GRHayL_Core/make.code.defn
  GRHayL/GRHayL_Core/min_max_clamp.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/unit_test_con2prim_tabulated.c
  implementations/GRHayLib/src/GRHayLib.h
  implementations/GRHayLib/src/initialize_and_shutdown.c
  implementations/GRHayLib/src/make.code.defn
Due: grhayl_core, con2prim, EOS

Added new primitive guess for tabulated EOS; updated API
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_S_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/make.code.defn
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
Due: con2prim, EOS

Fixed bugs: uninitialized temperature; incorrect tilde{u}^2 computation in initialize_Noble
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/guess_primitives.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: con2prim

GRHayL/Con2Prim/guess_primitives.c: fixed uninitialized u^0 in tabulated EOS routine
  GRHayL/Con2Prim/guess_primitives.c
Due: con2prim

GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c: removed unecessary auxiliary variable
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
Due: con2prim

GRHayL/Con2Prim/guess_primitives.c: updated doxygen comments
  GRHayL/Con2Prim/guess_primitives.c
Due: con2prim

GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c: removed unreachable path now that tilde{u}^2 is fixed
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
Due: con2prim

New tabulated EOS Con2prim Guess (#101)
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_S_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/make.code.defn
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: con2prim, EOS

Remove GRHayL/Flux_Source/ETK_IGM_files/*; replace tabs; remove trailing whitespace
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Hybrid/Noble/finalize_Noble.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_T_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  GRHayL/Flux_Source/ETK_IGM_files/IGM_unit_test_PatchFile.0cb4d23
  GRHayL/Flux_Source/ETK_IGM_files/magnetizedTOV.par
  GRHayL/Flux_Source/ETK_IGM_files/trusted_unit_test_output.txt
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  GRHayL/include/ghl_eos_functions.h
  Unit_Tests/data_gen/unit_test_data_WENOZ_reconstruction.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_hybrid_flux.c
  Unit_Tests/unit_test_tabulated_eos.c
  configure
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: grhayl_core, con2prim, EOS, flux_source, reconstruction

Initial commit: added neural-network con2prim guess harness
  GRHayL/Con2Prim/Tabulated/make.code.defn
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_free.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_x.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_load_from_eos_hdf5.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_validate_model.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/ghl_c2p_nn.h
  GRHayL/Con2Prim/Tabulated/neural_network_guess/make.code.defn
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_code_error.c
Due: grhayl_core, con2prim, EOS

Added new unit test for the neural-network c2p guess
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  Unit_Tests/unit_test_c2p_nn_guess.c
  configure
Due: none

Address issues 1 & 3 from review round 1
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
  implementations/GRHayLib/src/make.code.defn
Due: none

Address issue 2 of review round 1
  GRHayL/Con2Prim/Tabulated/make.code.defn
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/make.code.defn
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/include/ghl_con2prim.h
  configure
Due: con2prim

Unit_Tests/unit_test_con2prim_tabulated.c: updated to include neural network guesses as backup
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: none

Fixed macOS workflow files
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
Due: none

Added neural net dimension bound to avoid unsafe mallocs
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_load_from_eos_hdf5.c
Due: con2prim

Added neural network guess as a backup for the main routine as well
  GRHayL/Con2Prim/con2prim_multi_method.c
Due: con2prim

Unit_Tests/unit_test_con2prim_tabulated.c: updated to actually load the neural network from the EOS file
  Unit_Tests/unit_test_con2prim_tabulated.c
Due: none

Restored behavior of single guess for the neural net (x)
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_x.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_validate_model.c
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/unit_test_c2p_nn_guess.c
Due: con2prim

Updated unit tests to use pyghl to append neural network dataset to EOS files
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/Hybrid/Noble/general_newton_raphson.c
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_hybrid_failure.c
Due: con2prim

.github/: fixed actions and workflows to correctly install pyghl using CPython
  .github/actions/OS_setup/action.yml
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
Due: none

Added unit test to improve c2p_nn_load* code coverage
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_load_from_eos_hdf5.c
  Unit_Tests/unit_test_c2p_nn_guess.c
Due: con2prim

docs: add GRHayL agent knowledge base
  AGENTS.md
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/change-impact.md
  wiki/contradictions.md
  wiki/gems/atmosphere.md
  wiki/gems/con2prim.md
  wiki/gems/eos.md
  wiki/gems/flux-source.md
  wiki/gems/index.md
  wiki/gems/induction.md
  wiki/gems/neutrinos.md
  wiki/gems/reconstruction.md
  wiki/generated-boundaries.md
  wiki/index.md
  wiki/lint/CHECKS.md
  wiki/physics/evolution-equation-map.md
  wiki/physics/variables-and-conventions.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: expand Con2Prim knowledge base
  wiki/catalog.md
  wiki/gems/con2prim.md
  wiki/gems/con2prim/limits-and-conversions.md
  wiki/gems/con2prim/recovery-flow.md
  wiki/gems/con2prim/solver-matrix.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/physics/evolution-equation-map.md
  wiki/physics/variables-and-conventions.md
  wiki/public-api-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: expand Neutrinos KB coverage
  wiki/build-and-ci.md
  wiki/catalog.md
  wiki/gems/index.md
  wiki/gems/neutrinos.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none

docs: fill Atmosphere and EOS KB routes
  wiki/catalog.md
  wiki/gems/atmosphere.md
  wiki/gems/atmosphere/prescription-contract.md
  wiki/gems/eos.md
  wiki/gems/eos/hybrid-piecewise-polytrope.md
  wiki/gems/eos/initialization-and-dispatch.md
  wiki/gems/eos/tabulated-interpolation-and-bounds.md
  wiki/gems/eos/tabulated-table-contract.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/test-map.md
Due: none

docs: add GRHayL_Core KB routes
  AGENTS.md
  wiki/catalog.md
  wiki/core/eos-dispatch-contract.md
  wiki/core/errors-io-debug-utilities.md
  wiki/core/index.md
  wiki/core/metric-adm-contract.md
  wiki/core/stress-energy-smallb-contract.md
  wiki/core/struct-pack-unpack-contract.md
  wiki/core/tests-and-fixtures.md
  wiki/core/velocity-u0-contract.md
  wiki/index.md
  wiki/source-map.md
  wiki/test-map.md
  wiki/workflows.md
Due: none
