Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

codecov.yml:

###################################################################
# Important! Run the following command after any changes to this file.
# If it fails, fix it before pushing!
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate
###################################################################

coverage:
  range: "70..90" # Boundaries for yellow..green coverage
  precision: 2 # Digits shown in Codecov report (default)
  round: down # Rounding type (default)
  status:
    project:
      default:
        target: auto
        threshold: 5%

ignore:
  - "Unit_Tests"
  - "GRHayL/include/ghl_unit_tests.h"
  - "GRHayL/include/ghl_debug.h"
  - "GRHayL/Con2Prim/toms748.c"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: grhayl_core # this is an identifier that should not be changed
      name: grhayl_core # this is a display name, and can be changed freely
      paths:
        - GRHayL/GRHayL_Core/**
    - component_id: gem_atmosphere
      name: atmosphere
      paths:
        - GRHayL/Atmosphere/**
    - component_id: gem_con2prim
      name: con2prim
      paths:
        - GRHayL/Con2Prim/**
    - component_id: gem_eos
      name: EOS
      paths:
        - GRHayL/EOS/**
    - component_id: gem_flux_source
      name: flux_source
      paths:
        - GRHayL/Flux_Source/**
    - component_id: gem_induction
      name: induction
      paths:
        - GRHayL/Induction/**
    - component_id: gem_neutrinos
      name: neutrinos
      paths:
        - GRHayL/Neutrinos/**
    - component_id: gem_reconstruction
      name: reconstruction
      paths:
        - GRHayL/Reconstruction/**

Added more valitation tests
  GRHayL/include/nrpyeos_tabulated.h
  Unit_Tests/unit_test_compose.c
Due: none

Made calculation of Y_np and Y_pn follow Ruffert et al
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
Due: neutrinos

compute_source lost in make.code.defn. Put back in to compile unit tests.
  GRHayL/Radiation/M1/make.code.defn
Due: none

Updated GRHayLib's interface.ccl with testing header
  implementations/GRHayLib/interface.ccl
Due: none

Initial commit of GRHayLib_test.h
  implementations/GRHayLib/src/.clang-format
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

Added documentation to GRHayLib_test.h
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

Fixed GRHayLib_test.h; removed duplicated include from GRHayLib.h
  implementations/GRHayLib/src/GRHayLib.h
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

Added termination message to GRHayLib_test.h
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

GRHayL/include/ghl_unit_tests_et.h: initial commit
  GRHayL/include/ghl_unit_tests_et.h
  GRHayL/include/make.code.defn
Due: none

Fixed typeof -> __typeof__ in GRHayL/include/ghl_unit_tests_et.h
  .clang-format
  .editorconfig
  GRHayL/include/ghl_unit_tests_et.h
  compile_flags.txt
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

Updated initialization of metric and primitives macro
  GRHayL/include/ghl_unit_tests_et.h
Due: none

Added unit_test_THC_M1_equilibrium.c skeleton; still need to GRHayL function calls
  Unit_Tests/unit_test_THC_M1_equilibrium.c
Due: none

Nearly-finished draft
  Unit_Tests/unit_test_THC_M1_equilibrium.c
Due: none

Several changes to Radiation/M1/set_equilibrium.c; still not happy with the interface
  GRHayL/Radiation/M1/compute_radiation_closure.c
  GRHayL/Radiation/M1/set_equilibrium.c
  GRHayL/include/ghl_m1.h
  GRHayL/include/ghl_radiation.h
  GRHayL/include/ghl_unit_tests_et.h
  GRHayL/include/nrpyleakage.h
Due: none

GRHayLib_test.h: further updates to the testing infrastructure
  implementations/GRHayLib/src/GRHayLib_test.h
Due: none

compute_radiation_source major fixes for E,F_star, remove malloc, nullptrs
  GRHayL/Radiation/M1/calc_update.c
  GRHayL/Radiation/M1/compute_radiation_closure.c
  GRHayL/Radiation/M1/compute_radiation_source.c
  GRHayL/include/ghl_m1.h
  GRHayL/include/ghl_radiation.h
  Unit_Tests/unit_test_m1_compute_radiation_source.c
Due: none

compute_radiation_source.c error fix for implicit update
  GRHayL/Radiation/M1/compute_radiation_closure.c
  GRHayL/Radiation/M1/compute_radiation_source.c
  GRHayL/include/ghl_radiation.h
  Unit_Tests/unit_test_m1_compute_radiation_source.c
Due: none

radiation_source main function argument change, calc_update main translation done
  GRHayL/Radiation/M1/calc_update.c
  GRHayL/Radiation/M1/compute_radiation_closure.c
  GRHayL/Radiation/M1/compute_radiation_source.c
  GRHayL/Radiation/M1/make.code.defn
  GRHayL/include/ghl_radiation.h
  Unit_Tests/unit_test_m1_compute_radiation_source.c
Due: none

Fixed error code issues
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/enforce_primitive_limits_and_compute_u0.c
  GRHayL/Con2Prim/get_con2prim_routine_name.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_S_depsdT_and_T_from_rho_Ye_eps.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/include/ghl.h
Due: grhayl_core, con2prim, EOS

Added basic .editorconfig file
  .editorconfig
Due: none

Fixed missing __cplusplus guards
  GRHayL/include/ghl.h
  GRHayL/include/ghl_con2prim.h
  GRHayL/include/ghl_debug.h
  GRHayL/include/ghl_eos_functions.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_flux_source.h
  GRHayL/include/ghl_induction.h
  GRHayL/include/ghl_io.h
  GRHayL/include/ghl_metric_helpers.h
  GRHayL/include/ghl_radiation.h
  GRHayL/include/ghl_reconstruction.h
  GRHayL/include/ghl_unit_tests.h
  GRHayL/include/nrpyeos_tabulated.h
  GRHayL/include/nrpyleakage.h
Due: none

Fixed error code in Unit_Tests/unit_test_hybrid_failure.c
  Unit_Tests/unit_test_hybrid_failure.c
Due: none

Updated configure script to install headers in <prefix>/include/ghl; changes library name from grhayl to ghl
  configure
Due: none

GRHayLib: updated GRHayLib.h
  implementations/GRHayLib/src/GRHayLib.h
Due: none

GRHayL/Con2Prim/utils_Palenzuela1D.h: removed dead function prototypes
  GRHayL/Con2Prim/utils_Palenzuela1D.h
Due: con2prim

GRHayL/Con2Prim/*/Palenzuela1D/*_Palenzuela1D.c: replaced duplicated code with the appropriate auxiliary function
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
Due: con2prim

Removed GRHayL/Con2Prim/toms748.c, as it is unused. Can restore later if needed.
  GRHayL/Con2Prim/toms748.c
Due: none

Removed remaining references to toms748
  GRHayL/Con2Prim/make.code.defn
  GRHayL/Con2Prim/roots.h
  codecov.yml
Due: con2prim

Fixed code-coverage action to reflect new library name
  .github/actions/code-coverage/action.yml
Due: none

Restored tau floor condition
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
Due: con2prim

Minor Clean Up (#84)
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D.c
  GRHayL/Con2Prim/make.code.defn
  GRHayL/Con2Prim/roots.h
  GRHayL/Con2Prim/toms748.c
  GRHayL/Con2Prim/utils_Palenzuela1D.h
  codecov.yml
Due: con2prim

Added negative metric determinant error code
  GRHayL/GRHayL_Core/enforce_detgij_and_initialize_ADM_metric.c
  GRHayL/include/ghl.h
Due: grhayl_core

Compiler doesn't issue errors/warning, but linker fails
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_Fermi_Dirac_integrals.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_optical_depths_PathOfLeastResistance.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_eos_functions_declaration.h
  GRHayL/include/ghl_nrpyleakage.h
Due: grhayl_core, neutrinos

Proper HDF5 disable
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_S_depsdT_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_T_from_rho_Ye_S.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_eps_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_cs2_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_S_and_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_S_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_T_from_rho_Ye_S.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_depsdT_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_muhat_mue_mup_and_mun_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_S_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_cs2_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_T_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_muhat_mue_mup_mun_Xn_and_Xp_from_rho_Ye_T.c
  GRHayL/GRHayL_Core/read_error_codes.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: grhayl_core, EOS

Renamed HDF5 macros
  GRHayL/EOS/Tabulated/NRPyEOS_free_memory.c
  GRHayL/EOS/Tabulated/NRPyEOS_initialize_tabulated_functions.c
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_S_depsdT_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_T_from_rho_Ye_S.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_and_eps_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_cs2_and_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_S_and_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_S_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_T_from_rho_Ye_S.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_and_depsdT_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_eps_muhat_mue_mup_and_mun_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_P_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_T_from_rho_Ye_eps.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_cs2_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_S_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_cs2_and_T_from_rho_Ye_P.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_eps_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_T_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_from_rho_Ye_aux_find_T_and_interpolate_n_quantities.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_muhat_mue_mup_mun_Xn_and_Xp_from_rho_Ye_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
  GRHayL/include/ghl.h
  GRHayL/include/ghl_nrpyeos_tabulated.h
Due: EOS

Fixed a couple of additional instances when HDF5 is disabled
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_compute_Ye_of_rho_beq_constant_T.c
  GRHayL/EOS/Tabulated/interpolators/NRPyEOS_tabulated_helpers.h
Due: EOS
