Repository GRHayL/GRHayL: changes, and which Codecov flags are due for each by the changed paths.
All: grhayl_core, atmosphere, con2prim, EOS, flux_source, induction, neutrinos, reconstruction

chore: remove internal neutrino fix plan
  fix_plan_Sep17AM.md
Due: none

fix(neutrinos): close coverage and Intel underflow gaps
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_luminosities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_compute_neutrino_opacities_and_GRMHD_source_terms.c
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_rate_helpers.h
  GRHayL/include/ghl_nrpyleakage.h
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_nrpyleakage_classifier_fallback.c
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  Unit_Tests/unit_test_nrpyleakage_luminosities.c
  Unit_Tests/unit_test_nrpyleakage_optically_thin_gas.c
  Unit_Tests/unit_test_nrpyleakage_physics.c
  configure
  wiki/build-and-ci.md
  wiki/core/errors-io-debug-utilities.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/neutrinos/api-and-data.md
  wiki/gems/neutrinos/implementation-flow.md
  wiki/gems/neutrinos/physics-and-eos-contract.md
  wiki/gems/neutrinos/tests-and-fixtures.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/runner-and-generated-artifacts.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: grhayl_core, neutrinos

fix(build): isolate configure coverage probes
  configure
Due: none

fix(ci): harden compiler setup and flag checks
  .github/actions/OS_setup/action.yml
  configure
Due: none

test(neutrinos): exercise finite fallback branch
  Unit_Tests/unit_test_nrpyleakage_physics.c
Due: none

feat: support Noble1D entropy density recovery
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/func_rho2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/make.code.defn
  GRHayL/Con2Prim/Tabulated/con2prim_CerdaDuran3D.cc
  GRHayL/Con2Prim/con2prim_multi_method.c
  Unit_Tests/unit_test_hybrid_failure.c
  docs/raw/Con2Prim.dox
  implementations/GRHayLib/param.ccl
  implementations/GRHayLib/src/initialize_and_shutdown.c
  wiki/catalog.md
  wiki/contradictions.md
  wiki/gems/con2prim.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/solver-matrix.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/gems/index.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/test-map.md
Due: con2prim

fix: expose mkdtemp on macOS
  Unit_Tests/unit_test_c2p_nn_guess.c
Due: none

test: stabilize hybrid Con2Prim golden generation
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
Due: none

fix: close remaining Con2Prim review findings
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Tabulated/Noble2D/tabulated_Noble2D.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/guess_primitives.c
  GRHayL/Con2Prim/utils_Noble.h
  GRHayL/include/ghl_con2prim.h
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_hybrid_failure.c
  wiki/build-and-ci.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/limits-and-conversions.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/generated-nrpy-boundary.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/gems/flux-source/tests-and-fixtures.md
  wiki/implementations/grhaylib/verification-and-drift.md
  wiki/implementations/index.md
  wiki/physics/evolution-equation-map.md
  wiki/source-map.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: con2prim

fix: close remaining Con2Prim review gaps
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/finalize_Noble.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  GRHayL/Con2Prim/guess_primitives.c
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_c2p_nn_guess.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_hybrid_failure.c
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/tests/unit-test-coverage-and-gap-matrix.md
Due: con2prim

Update M1 radiation implementation and tests
  .github/actions/run_m1/action.yml
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/Neutrinos/NRPyLeakage/NRPyLeakage_nucleon_blocking.h
  GRHayL/Radiation/M1_INTEGRATION_CONTRACT.md
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_implicit.h
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_implicit_solve.c
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_source_update.c
  GRHayL/Radiation/Neutrinos/ghl_m1_neutrino_sources.c
  GRHayL/Radiation/Neutrinos/ghl_m1_nrpyleakage_kernel.c
  GRHayL/Radiation/Neutrinos/ghl_m1_nrpyleakage_kernel.h
  GRHayL/Radiation/Neutrinos/ghl_neutrino_rate_provider.c
  GRHayL/Radiation/Neutrinos/make.code.defn
  GRHayL/Radiation/TRACEABILITY.md
  GRHayL/Radiation/ghl_m1_diffusion_flux.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_m1.h
  GRHayL/include/ghl_neutrino_rate_provider.h
  Unit_Tests/README.m1.md
  Unit_Tests/unit_test_m1_diffusion_flux.c
  Unit_Tests/unit_test_m1_error_handling.c
  Unit_Tests/unit_test_m1_neutrino_seeded_invariants.c
  Unit_Tests/unit_test_m1_neutrino_source_update.c
  Unit_Tests/unit_test_m1_rate_provider.c
  Unit_Tests/unit_test_m1_thcm1_blended_rusanov.c
  implementations/GRHayLib/src/make.code.defn
  scripts/parser
  wiki/future_work/index.md
  wiki/future_work/interactions/distinct-nucleon-decay-contributions.md
  wiki/future_work/interactions/inelastic-neutrino-electron-scattering.md
  wiki/future_work/interactions/weak-magnetism-recoil-phase-space-mean-field.md
  wiki/gems/radiation-m1/m1-source-update-branches-and-rollback.md
  wiki/gems/radiation-m1/m1-thick-limit-and-optional-diffusion.md
  wiki/gems/radiation-m1/neutrino-m1-contract.md
  wiki/gems/radiation-m1/tests-and-fixtures.md
Due: neutrinos

fix: resolve final Con2Prim review findings
  .github/workflows/github-actions-Ubuntu-gcc.yml
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  README.md
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/pert_test_fail_conservatives.c
  Unit_Tests/pert_test_fail_primitives.c
  Unit_Tests/pert_test_fail_stress_energy.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_hybrid_failure.c
  docs/raw/Con2Prim.dox
  wiki/build-and-ci.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/implementations/grhaylib.md
  wiki/public-api-map.md
Due: con2prim

fix: preserve tabulated recovery seed after EOS errors
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  Unit_Tests/unit_test_c2p_nn_guess.c
Due: con2prim

fix: close Con2Prim trialectic findings
  .github/workflows/github-actions-Ubuntu-gcc.yml
  AGENTS.md
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D.c
  GRHayL/Con2Prim/Hybrid/Font1D/hybrid_Font1D_loop.c
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/limit_utilde_and_compute_v.c
  GRHayL/include/ghl_con2prim.h
  README.md
  Unit_Tests/unit_test_apply_conservative_limits.c
  Unit_Tests/unit_test_c2p_nn_guess.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_hybrid_failure.c
  docs/raw/Con2Prim.dox
  wiki/build-and-ci.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/limits-and-conversions.md
  wiki/gems/con2prim/neural-network-primitive-guess.md
  wiki/gems/con2prim/solver-matrix.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/gems/eos/initialization-and-dispatch.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
Due: con2prim

Fix ET legacy limiter-boundary comparison
  Unit_Tests/unit_test_ET_Legacy_primitives.c
Due: none

fix: stabilize conservative limits for parallel magnetic fields
  GRHayL/Con2Prim/apply_conservative_limits.c
Due: con2prim

test: restore trustworthy golden comparisons
  .github/con2prim-testdata-ref
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  GRHayL/include/ghl_unit_tests.h
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/pert_test_fail_conservatives.c
  Unit_Tests/pert_test_fail_primitives.c
  Unit_Tests/pert_test_fail_stress_energy.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  Unit_Tests/unit_test_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_nrpyleakage_constant_density_sphere.c
  codecov.yml
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/tests/et-legacy-comparison-contract.md
  wiki/tests/fixture-lifecycle-and-harness-contract.md
Due: none

CI: publish Codecov status after coverage completes
  .github/workflows/github-actions-Ubuntu-gcc.yml
  wiki/build-and-ci.md
Due: none

fix: align Noble entropy closure at EOS bounds
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/func_rho2.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Hybrid/Palenzuela1D/hybrid_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_energy.c
  GRHayL/Con2Prim/Tabulated/Newman1D/tabulated_Newman1D_entropy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_energy.c
  GRHayL/Con2Prim/Tabulated/Palenzuela1D/tabulated_Palenzuela1D_entropy.c
  GRHayL/Con2Prim/utils_Noble.h
  Unit_Tests/data_gen/unit_test_data_con2prim_multi_method_hybrid.c
  Unit_Tests/unit_test_ET_Legacy_primitives.c
  implementations/GRHayLib/src/initialize_and_shutdown.c
Due: con2prim

ci: exclude narrow no-HDF5 run from aggregate coverage
  .github/workflows/github-actions-Ubuntu-gcc.yml
Due: none

test: lock bounded recovery and ET fixture evidence
  .github/et-legacy-testdata-ref
  .github/run_tests.sh
  .github/workflows/github-actions-MacOS-clang.yml
  .github/workflows/github-actions-MacOS-gcc.yml
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  .github/workflows/github-actions-Ubuntu-intel.yml
  Unit_Tests/unit_test_hybrid_failure.c
  wiki/tests/et-legacy-comparison-contract.md
Due: none

fix: complete Con2Prim CI and entropy contracts
  .github/workflows/github-actions-Ubuntu-gcc.yml
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/initialize_Noble.c
  GRHayL/Con2Prim/hdf5_disabled_stubs.c
  GRHayL/Con2Prim/utils_Noble.h
  Unit_Tests/unit_test_hybrid_failure.c
  wiki/build-and-ci.md
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/tests-and-fixtures.md
Due: con2prim

fix: harden Con2Prim recovery edge cases
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/func_rho2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble1D/hybrid_Noble1D_entropy2.c
  GRHayL/Con2Prim/Hybrid/Noble/Noble2D/hybrid_Noble2D.c
  GRHayL/Con2Prim/Tabulated/neural_network_guess/c2p_nn_guess_primitives.c
  GRHayL/Con2Prim/Tabulated/tabulated_primitive_guess_helpers.c
  GRHayL/Con2Prim/apply_conservative_limits.c
  GRHayL/Con2Prim/con2prim_multi_method.c
  GRHayL/Con2Prim/utils_Noble.h
  Unit_Tests/unit_test_c2p_nn_guess.c
  Unit_Tests/unit_test_con2prim_tabulated.c
  Unit_Tests/unit_test_hybrid_failure.c
  wiki/gems/con2prim/internal-numerics-and-root-finding.md
  wiki/gems/con2prim/tests-and-fixtures.md
Due: con2prim

ci: remove standalone Con2Prim workflow jobs
  .github/workflows/github-actions-Ubuntu-clang.yml
  .github/workflows/github-actions-Ubuntu-gcc.yml
  wiki/build-and-ci.md
  wiki/change-impact.md
  wiki/gems/con2prim/tests-and-fixtures.md
  wiki/gems/flux-source.md
  wiki/gems/flux-source/generated-nrpy-boundary.md
  wiki/gems/flux-source/hlle-flux-variant-matrix.md
  wiki/implementations/grhaylib/verification-and-drift.md
Due: none

docs: correct GRHayLib CI validation claims
  wiki/build-and-ci.md
  wiki/contradictions.md
Due: none

fix: resolve Core correctness issues from #110
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  GRHayL/include/ghl.h
  GRHayL/include/ghl_debug.h
  GRHayL/include/ghl_unit_tests.h
  Unit_Tests/data_gen/unit_test_data_grhayl_core_test_suite.c
  Unit_Tests/unit_test_code_error.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_piecewise_polytrope.c
  wiki/catalog.md
  wiki/contradictions.md
  wiki/core/eos-dispatch-contract.md
  wiki/core/errors-io-debug-utilities.md
  wiki/core/index.md
  wiki/core/metric-adm-contract.md
  wiki/core/shared-parameters-and-enums.md
  wiki/core/tests-and-fixtures.md
  wiki/core/velocity-u0-contract.md
  wiki/gems/eos.md
  wiki/gems/eos/hybrid-piecewise-polytrope.md
  wiki/gems/eos/initialization-and-dispatch.md
  wiki/gems/eos/tabulated-table-contract.md
  wiki/gems/eos/tests-and-fixtures.md
  wiki/implementations/grhaylib/runtime-parameter-contract.md
  wiki/public-api-map.md
  wiki/test-map.md
  wiki/tests/expected-failure-and-error-keys.md
  wiki/tests/fixture-lifecycle-and-harness-contract.md
Due: grhayl_core

fix: correct induction interpolation and fixture handling
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/Induction/Interpolators/make.code.defn
  GRHayL/include/ghl_induction.h
  Unit_Tests/compute_vvv_ADM.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_HLL_flux.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_induction_gauge_rhs.c
  Unit_Tests/data_gen/unit_test_data_HLL_flux.c
  Unit_Tests/data_gen/unit_test_data_induction_interpolation.c
  Unit_Tests/unit_test_ET_Legacy_HLL_flux.c
  Unit_Tests/unit_test_ET_Legacy_induction_gauge_rhs.c
  Unit_Tests/unit_test_HLL_flux.c
  Unit_Tests/unit_test_induction_ccc_ADM.c
  Unit_Tests/unit_test_induction_ccc_BSSN.c
  Unit_Tests/unit_test_induction_vvv_ADM.c
  docs/raw/Induction.dox
  wiki/build-and-ci.md
  wiki/contradictions.md
  wiki/gems/induction.md
  wiki/gems/induction/interpolation-and-staggering-contract.md
  wiki/gems/induction/tests-and-fixtures.md
  wiki/gems/induction/verification-workflows.md
  wiki/generated-boundaries.md
Due: induction

fix(reconstruction): harden numerics and fixture handling
  GRHayL/Reconstruction/PLM/maxmod.c
  GRHayL/Reconstruction/PLM/minmod.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell.c
  GRHayL/Reconstruction/PPM/ppm_compute_for_cell_with_steepening.c
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/slope_limit.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  Unit_Tests/data_gen/unit_test_data_PLM_reconstruction.c
  Unit_Tests/data_gen/unit_test_data_WENOZ_reconstruction.c
  Unit_Tests/unit_test_ET_Legacy_reconstruction.c
  Unit_Tests/unit_test_PLM_reconstruction.c
  Unit_Tests/unit_test_WENOZ_reconstruction.c
  docs/raw/Reconstruction.dox
  wiki/contradictions.md
  wiki/gems/index.md
  wiki/gems/reconstruction.md
  wiki/gems/reconstruction/face-and-stencil-contract.md
  wiki/gems/reconstruction/plm-limiters.md
  wiki/gems/reconstruction/ppm-flow.md
  wiki/gems/reconstruction/tests-and-fixtures.md
  wiki/gems/reconstruction/wenoz-contract.md
  wiki/public-api-map.md
  wiki/source-map.md
  wiki/test-map.md
Due: reconstruction

fix(reconstruction): resolve review regressions
  GRHayL/Reconstruction/PPM/shock_detection_ftilde.c
  GRHayL/Reconstruction/PPM/steepen_var.c
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  Unit_Tests/unit_test_ET_Legacy_reconstruction.c
  Unit_Tests/unit_test_PLM_reconstruction.c
  Unit_Tests/unit_test_WENOZ_reconstruction.c
Due: reconstruction

fix: address Core review follow-ups
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  Unit_Tests/unit_test_grhayl_core_test_suite.c
  Unit_Tests/unit_test_piecewise_polytrope.c
  wiki/core/eos-dispatch-contract.md
  wiki/core/shared-parameters-and-enums.md
  wiki/gems/eos/initialization-and-dispatch.md
Due: grhayl_core

fix: preserve vertex interpolation compatibility
  GRHayL/Induction/Interpolators/interpolate_helper.c
  GRHayL/Induction/Interpolators/interpolate_with_cell_centered_BSSN.c
  GRHayL/Induction/Interpolators/interpolate_with_vertex_centered_ADM.c
  GRHayL/include/ghl_induction.h
  Unit_Tests/compute_vvv_ADM.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_HLL_flux.c
  Unit_Tests/data_gen/unit_test_data_ET_Legacy_induction_gauge_rhs.c
  Unit_Tests/data_gen/unit_test_data_HLL_flux.c
  Unit_Tests/data_gen/unit_test_data_induction_interpolation.c
  Unit_Tests/ghl_test_helpers.c
  Unit_Tests/ghl_test_helpers.h
  Unit_Tests/unit_test_ET_Legacy_HLL_flux.c
  Unit_Tests/unit_test_ET_Legacy_induction_gauge_rhs.c
  Unit_Tests/unit_test_HLL_flux.c
  Unit_Tests/unit_test_induction_ccc_ADM.c
  Unit_Tests/unit_test_induction_ccc_BSSN.c
  Unit_Tests/unit_test_induction_vvv_ADM.c
  docs/raw/Induction.dox
  wiki/catalog.md
  wiki/gems/induction.md
  wiki/gems/induction/interpolation-and-staggering-contract.md
  wiki/gems/induction/tests-and-fixtures.md
  wiki/test-map.md
Due: induction

fix(reconstruction): restore simple WENOZ weights
  GRHayL/Reconstruction/WENOZ/wenoz_reconstruction_right_left_faces.c
  docs/raw/Reconstruction.dox
  wiki/gems/reconstruction/wenoz-contract.md
Due: reconstruction

fix(eos): preserve loader state and enthalpy API
  GRHayL/EOS/Tabulated/NRPyEOS_read_table_set_EOS_params.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulate_enthalpy.c
  GRHayL/EOS/Tabulated/NRPyEOS_tabulated_get_index.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse.c
  GRHayL/EOS/Tabulated/stellarcollapse/NRPyEOS_stellarcollapse_to_ghl.c
  GRHayL/GRHayL_Core/abort_if_error.c
  GRHayL/GRHayL_Core/initialize_eos.c
  GRHayL/include/ghl_nrpyeos_tabulated.h
  docs/raw/EOS.dox
  wiki/contradictions.md
  wiki/gems/eos/tabulated-interpolator-catalog.md
  wiki/gems/eos/tabulated-table-contract.md
Due: grhayl_core, EOS

fix: retry velocity limiting adaptively near the Lorentz cap
  GRHayL/GRHayL_Core/limit_v_and_compute_u0.c
  Unit_Tests/unit_test_enforce_primitive_limits_and_compute_u0.c
  wiki/core/velocity-u0-contract.md
Due: grhayl_core

Path conditions:
  grhayl_core: any of: GRHayL/GRHayL_Core/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  atmosphere: any of: GRHayL/Atmosphere/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  con2prim: any of: GRHayL/Con2Prim/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  EOS: any of: GRHayL/EOS/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  flux_source: any of: GRHayL/Flux_Source/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  induction: any of: GRHayL/Induction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  neutrinos: any of: GRHayL/Neutrinos/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
  reconstruction: any of: GRHayL/Reconstruction/**, but not: Unit_Tests, GRHayL/include/ghl_unit_tests.h, GRHayL/include/ghl_debug.h, GRHayL/Con2Prim/toms748.c
